.stage-panel__code {
    display: block;
    margin-top: 8px;
    width: 100%;
}
.stage-panel__btn {
    margin-top: 8px;
    margin-right: 8px;
}
.stage-panel__label {
    display: flex;
    align-items: center;
}
.stage-panel__radios {
    display: flex;
    align-items: center;
    gap: 12px;
}